name: Docker Build

on:
  push:
    branches: [main]

### Ensures that only one CI task per branch/environment will run at a time ###
concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

permissions:
  contents: read

jobs:
  docker-build:
    name: Docker Build
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1

      - name: Log in to Docker Hub
        uses: docker/login-action@184bdaa0721073962dff0199f1fb9940f07167d1 # v3.5.0
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}
      
      - name: Build and push docker image
        shell: bash
        env:
          REGISTRY: dungpham91
          REPOSITORY: rds-outpost-exporter
        run: |
          TAG_VERSION=$(cat VERSION)

          docker build \
            -t $REGISTRY/$REPOSITORY:${TAG_VERSION} \
            -t $REGISTRY/$REPOSITORY:latest \
            -f Dockerfile .

          echo "Pushing image to repository..."
          docker push $REGISTRY/$REPOSITORY --all-tags
